# String Questions

In [ ]:
student = []
for _ in range(int(input())):
    name = input()
    score = float(input())
    student.append([name,score])

5
Harsh
20
Beria
20
Varun
19
Kakunami
19
Vikas
21

In [ ]:
# extract all scores, remove duplicates, sort ascending
marks = sorted({s[1] for s in student})
sec_low = marks[1]   # 2nd lowest

# get all names with that score
names = sorted([s[0] for s in student if s[1] == sec_low])

#printing name of students
for i in names:
  print(i)

Beria
Harsh

# Welcome Door Mat Problem

In [ ]:
#take input from the user
n, m = map(int, input().split())

13 39

In [ ]:
#Upper Logic
upper_symbol = 1
for i in range(n//2,0,-1):
  print('-'*(3*i), end='')
  print('.|.'*upper_symbol, end='')
  print('-'*(3*i))

  upper_symbol+=2

Wel_ = int((3*n -7)/2)
#Welcome Print
print('-'*Wel_,end='')
print('WELCOME',end='')
print('-'*Wel_)


#lower Logic
lower_symbol=upper_symbol-2
for j in range(1,n//2+1):
  print('-'*(3*j), end='')
  print('.|.'*lower_symbol, end='')
  print('-'*(3*j))

  lower_symbol-=2

------------------.|.------------------
---------------.|..|..|.---------------
------------.|..|..|..|..|.------------
---------.|..|..|..|..|..|..|.---------
------.|..|..|..|..|..|..|..|..|.------
---.|..|..|..|..|..|..|..|..|..|..|.---
----------------WELCOME----------------
---.|..|..|..|..|..|..|..|..|..|..|.---
------.|..|..|..|..|..|..|..|..|.------
---------.|..|..|..|..|..|..|.---------
------------.|..|..|..|..|.------------
---------------.|..|..|.---------------
------------------.|.------------------

# Largest Odd Number in a String

In [ ]:
def largeOddNum(s):

  #Finding the last odd number
  last = 0
  for i in range(len(s)-1,-1,-1):
    if int(s[i])%2==1:
      last = i
      break

  if last==0:
    return ''

  first = 0
  while first<len(s):
    if s[first]!= '0':
      break
    else:
      first+=1

  return s[first:last+1]

In [ ]:
s = '10000000'

In [ ]:
largeOddNum(s)

''

# Longest Common Prefix

**My version**

In [ ]:
def longestCommonPrefix(st):
  #sort the list - N Log(N)
  st.sort()

  #storing prefix values
  prefix=''

  #Find the first and last string values - N Log(N)
  for i in range(0,len(st[-1])):
    if st[0][i] == st[-1][i]:
      prefix+=st[0][i]
    else:
      break

  return prefix

In [ ]:
st = ["flowers" , "flow" , "fly", "flight"]
longestCommonPrefix(st)

'fl'

**ChatGPT and TUF**

In [ ]:
def longestCommonPrefix_1(st):
  # Edge case: empty list
  if not st:
    return ""

  # sort the list
  st.sort()

  # get first and last string
  first, last = st[0], st[-1]
  prefix = ''

  # loop only till min length of first and last
  for i in range(min(len(first), len(last))):
    if first[i] == last[i]:
      prefix += first[i]
    else:
      break

  return prefix

In [ ]:
longestCommonPrefix_1(st)

'fl'

In [ ]:
list1 = ['a','a','b']
list1 = set(list1)
len(list1)

2

# Isomorphic String

In [ ]:
def isomorphic(s1,s2):
  Lst1 = []
  Lst2 = []
  Lst3 = []
  Lst4 = []

  #finding unique values
  for i in s1:
    Lst1.append(i)

  #Converting list to set
  Lst3=set(Lst1)

  for j in s2:
    Lst2.append(j)

  #Converting list to set
  Lst4=set(Lst2)

  if len(Lst3)!=len(Lst4):
    return 'False'

  Total1, Total2 = 0,0

  for a in Lst3:
    Total1+=Lst1.count(a)

  for b in Lst4:
    Total2+=Lst2.count(b)

  if Total1==Total2:
    return True
  else:
    return False

In [ ]:
s = "apple"
t = "bbnbm"
isomorphic(s,t)

'False'

In [ ]:
ord('a')

97

In [ ]:
def isomorph(s1,s2):

  #Condition
  if len(s1)!=len(s2):
    return False

  #create a map function
  pair = list(zip(s1,s2))

  #finding unique values of s1 and s2
  U1 = set(s1)
  U2 = set(s2)

  return len(set(pair))==len(U1)==len(U2)

In [ ]:
isomorph(s,t)

False

Rotate String

In [ ]:
def rotateString(s, goal):
  for i in range(len(s)):
      if goal==s[i:] + s[:i]:
        return True
      else:
        return False

In [ ]:
rotateString('abcde','cdeab')

False

Valid Anagram

In [ ]:
def anagramStrings(s, t):
  #Finding Unique words using set
  Unique_word_s = list(set(s))
  Unique_word_t = list(set(t))

  #Finding Unique words frequencey
  for i in Unique_word_s:
    Alpha_s = s.count(i)
    Alpha_t = t.count(i)
    if Alpha_s==Alpha_t :
      continue
    else:
      return False
  else:
    return True

In [ ]:
anagramStrings('dog','cat')

False

Another Easy Solution

In [ ]:
def anagramStrings(self, s, t):
  # If lengths are not equal, they cannot be anagrams
  if len(s) != len(t):
    return False

  # Sort both strings and compare
  return sorted(s) == sorted(t)

Sort Characters by Frequency

In [ ]:
def frequencySort(s):
  Char_count = {}
  Char = list(set(s))
  for i in Char:
    Char_count[i] = s.count(i)

  return list(Char_count.keys())

In [ ]:
frequencySort('tree')

['e', 'r', 't']

In [ ]:
from collections import Counter
freq = Counter("tree")
freq

Counter({'t': 1, 'r': 1, 'e': 2})

Answer

In [ ]:
def frequencySort(s):
    freq = Counter(s)
    return ''.join([char * freq[char] for char in sorted(freq, key=lambda x: -freq[x])])

print(frequencySort("tree"))
# Output: "eert" or "eetr"